[2016-05-04 01:39] maxious opened #3 "Jump links don't jump"
- Because of the header, the anchor link scrolls to the right section but it is covered up by the floating nav.
- Also sections aren't automatically opened to show a section (could stop using expanding regions if side nav is enough)

[2016-05-04 01:48] maxious opened #4 "Long titles don't fit in sidebar menu"
<img width="255" alt="screen shot 2016-05-04 at 11 48 39 am" src="https://cloud.githubusercontent.com/assets/81432/15003341/2bca1846-11ee-11e6-99c0-f47d53f5be76.png">

[2016-05-04 02:12] klepas opened #5 "Add the capitalize filter for parsing content heading titles"
Opening char. should be capitalized in a heading, the rest lc, unless of course they’re set in the title (e.g. pronouns).

Doc: https://shopify.github.io/liquid/filters/capitalize/

[2016-05-05 03:05] catherine-jones opened #9 "Remove accordions because they hide the content from the user"

[2016-05-05 07:01] #9 closed, assigned to catherine-jones

[2016-05-05 08:05] #4 closed, assigned to nobody

[2016-05-05 23:43] #3 closed, assigned to catherine-jones

[2016-05-11 00:45] #5 closed, assigned to nobody

[2016-05-12 08:45] klepas opened #31 "Abstract some commonly used links"
Idea: abstract into `_data/*.yml` files for calling inline via liquid, e.g.

`{{ w3c.wcag2 }}`

This would most benefit noting external links within the A–Z `_entries/` in the footer for that entry (in the form of external resources).

[2016-05-16 21:43] klepas opened #34 "Consider making a builder gem for the gov-au-guide-template"
Nfi how to do this… but would be cool once the generic templates are abstracted out and cleaned up.

[2016-08-02 05:11] joolswood opened #100 "Add guidance on page patterns"
Suggested by Michael Hugill - especially page summaries/abstracts/teasers.

[2016-08-02 05:13] joolswood opened #101 "Users and govspeak"
## What do you need?

Guidance on (and support for) designing content where govspeak is an issue (ie when we can use something else, what to do when we can't),

## Which entry/section is this related to?

Discovery work needs to be done.

Some background @Michael.Hugill:

The more deeply I dig into source content and try to write pages that actually make sense to a broad range of users, the more I

[2016-08-02 05:21] joolswood opened #102 "Improve plain English table"
# Issue

The plain English example table is hard to use, due to font size.

Also it may be better to do this as a list.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/p.html#plain-english
## Good example

https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#words-to-avoid

[2016-08-02 07:12] joolswood opened #104 "Dashes, en-dash and em-dash guidance"
# Issue

Users are reporting confusion around seeing un-spaced em-dashes (over dashes or en-dashes spaced or un-spaced).

We currently recommend using un-spaced em-dashes in headings and body (for example&mdash;like this).

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/h.html#hyphens-and-dashes

## Good example

https://www.gov.uk/gui

[2016-08-04 05:28] joolswood opened #106 "Gerund use in headings"
## What do you need?

I've been having some discussions about present tense vs present continuous (gerund) for page names and sub headings. It's coming up a lot in topic (e.g ‘set up’ vs ‘setting up’ or ‘providing...’):

I know present tense is preferenced in the style guide but it only makes sense to me (as a page name or subheading) for transactional content where a user can complete a task (e.g

[2016-08-04 23:06] joolswood opened #107 "Possessive apostrophe guidance"
## What do you need?

User emailed with question about using possessive apostrophes and whether they make text clearer.

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/a.html#apostrophe

[2016-08-04 23:07] joolswood commented on #107
I've made a commit to help with this, but we should take a look at the whole section at clinic perhaps https://github.com/AusDTO/gov-au-content-guide/commit/2489aa80c5612045ae0fd22abcbaf2751e612737

[2016-08-04 23:19] joolswood opened #108 "State/territory order in lists"
## What do you need?

User has suggested we recommend that lists of states/territories are ordered from largest to smallest (assume by population). The ABS does this.

We currently have an alphabetical order example.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/g.html#government-naming-conventions
## Good example

http://www.abs.gov.

[2016-08-04 23:31] maadonna commented on #108
Some rationale for this one... Putting them in this order means the 'biggest' (which also will usually represent the highest user need) is at the front of a list, and the smallest toward the end. It's also really good when representing tabular, numeric data, as the data is much easier to read when there is some order to it.

Alphabetical is not really a good order in this case. ACT ends up at the

[2016-08-04 23:44] joolswood commented on #108
Thanks @maadonna for adding the background on this.

[2016-08-05 00:21] joolswood opened #109 "Page summaries pattern"
## What do you need?

A pattern for how to write common introductory material for pages (for example what goes in the first sentence, then first para).

@michael.hugill if you'd like to add any more detail here, please do.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/ ?

[2016-08-05 00:50] joolswood opened #110 "File size, download time & reading time"
## What do you need?

A couple of users have raised intersecting suggestions relating to linking to files:
1. Provide an estimated download time based on average connection speed.
2. Provide estimated reading time for text file.

I think we should also investigate where we discuss listing file size in the guide. At the moment it is only in PDFs I think.
## Which entry/section is this related to?

[2016-08-05 00:52] joolswood commented on #110
We should investigate the user need for these. My gut feeling is that number 1 would cause more (content and technical) problems than it would solve, however.

[2016-08-05 00:54] joolswood commented on #100
Closing this one - replaced by better documentation at #109

[2016-08-05 00:54] #100 closed

[2016-08-05 00:59] maadonna commented on #110
My *opinion* on this is that if people can't figure out what 'big' looks like (e.g. is 5MB a big file or is 5GB a big file) they are also unlikely to know what kind of connection speed they have.

What is 'average' connection speed anyway.

I think one of the game platforms does this (downloads in 30mins at nnnn speed). I'm always like 'cool, 30 minutes' and then I start to download and find out i

[2016-08-05 01:04] LausKovu opened #111 "Is the word Anzac meant to be capital letters?"
Is the word Anzac meant to be capital letters?

How is Anzac written as the acronym for Australian and New Zealand Army Corps: is it ANZAC or Anzac? what is the Australian Government position?

The A to Z currently shows it somewhere as Anzac.

## Which entry/section is this related to?
A to Z of the guide, could go in either:
Abbreviations and Acronyms
Government naming conventions.

## Good exam

[2016-08-05 01:06] joolswood opened #112 "Font accessibility"
## What do you need?

User suggested documenting a couple of points relating to accessibility and fonts:
1. Italic fonts decrease reading performance.
2. Sans serif typefaces significantly increase the reading performance.
## Which entry/section is this related to?

http://gov-au-ui-kit.apps.staging.digital.gov.au/section-typography.html (nothing in content guide about fonts at the moment)
## Good

[2016-08-05 01:34] joolswood opened #113 "PDF entry layout"
## What do you need?

Andrew suggested the PDF entry may be better displayed as an image showing the pattern for placing one into a page/screen. See how GDS shows how to put a pdf on a page with: thumbnail image, title, description, pdf icon, file size.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/p.html#pdfs
## Good example

https:/

[2016-08-05 01:38] joolswood opened #114 "Last updated/reviewed"
## What do you need?

As a user I want to know how current the info on a page is by seeing 'last reviewed' for example.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/4-pre-writing-checklist.html

[2016-08-05 01:40] joolswood opened #115 "Conversational vs formal/legal keywords"
## What do you need?

Another from Andrew Arch:

Explain/show how the word that is conversational is distinct from the formal/legal word.

Although the more sophisticated platforms and search becomes to be able to know both words, the word choice and knowing both, as an online writer is important to understanding what your customers are searching for.
## Which entry/section is this related to?

ht

[2016-08-05 01:53] joolswood opened #116 "Faces in photos"
## What do you need?

Last one from Andrew Arch:

Put advice for when including an image of a person in a page, that the person's eyes in the image should look towards the content around the image and not away from that content. Why? People's eyes follow the gaze away from the content.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/i.h

[2016-08-05 02:05] LausKovu opened #117 "The pattern in the A to Z which show 'For example'"
## What do you need?

As a user I want to see clearly that I am been shown a **For example** throughout the A to Z and Writing for the Web.
## What is the problem?

At present a full review of the pattern that is applied to **For example** is yet to be undertaken. I also note that the ways some **For example** are shown is not as clear and easy to understand for a user as it could be.
## Which ent

[2016-08-05 02:42] klepas commented on #114
Just a quick note that a technical fix for this is feasible, eg usingu Jekyll to insert a timestamp when a piece of content was last updated.

[2016-08-05 02:44] klepas commented on #113
This sounds like something @maadonna might be interested in too, given that this could become a little pattern in the UI KIt and is available for template implementers to use for their authors when adding PDFs to things.

The tech specifics on the dynamic templating are nuanced… but the styling for this as a pattern is definitely something we could standardise in the UI-Kit.

[2016-08-05 02:48] klepas commented on #112
Is the sans-serif advice largely related to dyslexia? I’ve seen stuff that serif faces at an ample size have also been suggested as making reading easier?

[2016-08-05 03:33] LausKovu opened #118 "Position for phone numbers real / fake written as code displayed dynamic mobile first to a user"
Position for phone numbers real / fake written as code displayed dynamic mobile first to a user

As a user of government services online, I want to recognise phone numbers when scanning the screen for a phone number that I want to click to call or want to copy and paste and send to someone in a message or email or want to write down on paper without having to worry that if I dial this number on a

[2016-08-05 03:35] klepas commented on #110
This can be done in dynamic templates, eg get the # of words for a section of content you want to give an estimate for, and then divide by 160–180, and give in minutes. (:

We can do this really easily in Jekyll btw (:

Related reference: https://en.wikipedia.org/wiki/Words_per_minute#Reading_and_comprehension

[2016-08-05 03:56] klepas commented on #118
@LausKovu could you elaborate? (:

Is this about the entry specifically (http://content-style-guide.apps.staging.digital.gov.au/az-indexes/p.html#phone-numbers) or about their styling or both?

We have support in the uikit to automatically add an inline icon of our choosing based on various properties of a link, eg if it ends in `.pdf` we could append a PDF icon*… similarly, we could pick up that

[2016-08-07 23:47] michaelhugill commented on #109
Hi @joolswood, do you happen to have a deadline for this one?

[2016-08-08 11:17] joolswood commented on #109
@michaelhugill Libby marked it as "phase 2", not sure what that means in terms of timing. If there's a need to speed things up we can.

[2016-08-08 11:29] maadonna commented on #108
I just realised that the ABS list is not quite logical. They have SA then WA, but the populations are the opposite. I think we should go with logic, not their way...

[2016-08-10 22:15] michaelhugill commented on #104
Hi @joolswood, just wanting to confirm if the change to adding spaces around an em-dash will actually take place, or if it's just going to committee for discussion? Thanks.

[2016-08-10 22:45] joolswood commented on #104
Hi @michaelhugill I've added this for discussion at content clinic today. Cheers

[2016-08-10 23:12] joolswood opened #119 "Program vs programme"
## What do you need?

Clear guidance on program vs programme.

There's been a lot of traffic in the Google Group on this issue recently. Let's try and tie it off at content clinic this morning.

## Which entry/section is this related to?

As a starting place there's a draft new entry here: https://github.com/AusDTO/gov-au-content-guide/blob/bugfix/content-clinic/_entries/2016-05-04-program.md

And

[2016-08-11 01:54] joolswood commented on #104
Action to check on screen reader support for space em-dash space.
Support for using `to` over en-dash for ranges.

[2016-08-11 01:59] joolswood commented on #106
Action: add title example to voice entry.

[2016-08-11 02:10] joolswood commented on #119
Group agreed to draft entry as stands. Lisa H to action other supporting content.

[2016-08-11 02:24] joolswood commented on #110
Content clinic discussed this. We will return to it when we can.

[2016-08-11 04:34] lhowdin commented on #119
I think the advice is "Use program in all cases, except where a program is named in legislation with 'programme'.     More detailed advice, and for more discussion in a clinic perhaps: "Avoid using program names and refer to to service they provide/the task people need to complete." The exception to this is within the corporate section.

[2016-08-11 06:23] joolswood opened #121 "Remove period / full stop from the end of lists in guidance"
## What do you need?

User has suggested advising removing the full stop from the ends of lists to reduce visual clutter.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/b.html#bullet-point-lists
## Good example

https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps

[2016-08-11 07:10] joolswood commented on #112
Hey @klepas we talked at Content Clinic about this guidance being better situated within UI-Kit / design guide. Can we include this when we loop back to improve the accessibility guidance?

[2016-08-11 23:46] klepas commented on #112
Glad to. What do you reckon @joolswood — add a tix to our Jira backlog? (:

[2016-08-11 23:54] joolswood commented on #104
Andrew Arch reported, based on another user's experience with screen reader:

[code]

Based on this I suggest we move to space em dash space.

I do have some reservation that the width of space em dash space may prove too large. We may need to revise this at some point in the future (possibly move to space hyphen space).

[2016-08-12 00:38] joolswood commented on #107
here is Andrew/FECCA's response to possessive apostrophes: We think that the additional ‘s might be of assistance in relation to personal names (Jess's start-up), but confusing for other words, where you can’t always naturally pronounce an extra s. I understand that this is in line with advice from Oxford Grammar.

[2016-08-12 00:40] joolswood commented on #112
Yep, will do it presently.

On Fri, Aug 12, 2016 at 9:46 AM Simon Pascal Klein <notifications@github.com>
wrote:

--
Julian Fleetwood
GOV.AU Guides
Digital Transformation Office (DTO)
Australian Government
www.dto.gov.au

I work part time. I am away Mondays.

+61 403 885 873
@DTO

[2016-08-12 00:55] klepas commented on #112
Thanks.

Do you want to dual-track the ticket or close this issue here on GH? :)

[2016-08-12 01:24] joolswood commented on #104
I’ve not used ‘from’ in the examples. Happy to revisit this.

[2016-08-12 02:42] joolswood opened #123 "Contractions usage"
## What do you need?

User needs more guidance on when to use contractions. Requested by @matthewmccarthy
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/c.html#contractions
## Good example

https://www.gov.uk/guidance/content-design/writing-for-gov-uk#contractions

[2016-08-12 03:56] michaelhugill opened #124 "Not using the word 'topics'"
## What do you need?

We probably need a content style guide entry to instruct against using the word 'topic/s' and why – especially in navigational areas, and potentially in body text too.

What is the problem?

I've asked Donna to add more info to this ticket when she can. In the meantime...

The words 'topic' and 'topics' are problematic and could create user confusion between topic in the gene

[2016-08-12 04:38] maadonna commented on #124
The basic reason is that 'topic' is our jargon. For us a topic is a hierarchy of information pages on a single thing. The word is used differently in general use and by similar organisations like uk.gov (to them a topic is a page). However, it will be easy for us, and for authors in the future, to slip it into the interface. Users won't know what it relates to :) When we are tempted to use it in t

[2016-08-12 06:58] joolswood commented on #112
I've added a ticket (DESIGN-335) to our backlog. I'll keep this as a reminder for me to link it up once it's in the UI Kit.

Cheers @klepas

[2016-08-15 03:48] klepas commented on #109
@joolswood Sounds like this would inform the article/main header content and it’s markup and styling requirements. If anything pertains to us let me know :)

[2016-08-16 02:37] joolswood commented on #104
https://github.com/AusDTO/gov-au-content-guide/commit/732d44db9e9d9553c81a65fca4256db9d88758fd

[2016-08-16 03:39] joolswood opened #125 "Guidance on when to use brackets"
## What do you need?

Guidance on when to use brackets (especially in cases where commas are an option too). Asked by Matthew McCarthy.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/p.html#punctuation
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/c.html#commas

[2016-08-16 04:07] joolswood commented on #107
Hi @libbyv here's draft new text.

## Indicates possession
Use ’s for words that end in s if you pronounce them (for example, personal names).

**For example**

[2016-08-16 04:20] joolswood opened #126 "Update Updates page"
## What do you need?

Document latest changes to the guide in #122 (once pulled).

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/updates/

[2016-08-17 00:22] joolswood opened #127 "Addressing/referring to a user"
## What do you need?

Guidance on how to address/refer to a specific person, including the user and Ministers and so on.

For example: John Smith, how do we then refer to him in the next instance  - "John, Smith, Mr Smith" etc
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/g.html#government-naming-conventions

[2016-08-17 01:34] joolswood commented on #119
After discussion @lhowdin agreed to leave new entry as is for now.

[2016-08-17 01:41] joolswood opened #128 "Improve Content Guide repo workflow"
## What do you need?

A better model for managing content changes. The scope of this is just for the present workflow.

But there is larger related work to do in AusDTO/gov-au-ui-kit#400
## Which entry/section is this related to?

https://github.com/AusDTO/gov-au-content-guide/
## Good example

[GitFlow](http://nvie.com/posts/a-successful-git-branching-model/).

[2016-08-17 02:53] #119 closed

[2016-08-17 02:53] #107 closed

[2016-08-17 02:53] #104 closed

[2016-08-17 23:31] joolswood commented on #111
Suggestion - the style guide has a reference to Anzac which needs an additional sentence. 'Most acronyms for companies or organisations are uppercase with the exception of Anzac.' It should state that if you are referencing the actual army formation then it is upper case ANZAC.

[2016-08-18 02:05] joolswood opened #130 "Test issue"
## What do you need?
This is a test

## Which entry/section is this related to?
http://content-style-guide.apps.staging.digital.gov.au/

[2016-08-18 03:24] #130 closed

[2016-08-18 05:52] trishat opened #131 "Add item to glossary"
## Know the character limit for a glossary item

What is the problem?
## Glossary writing style
## http://www.nhs.uk/NHSEngland/AboutNHSservices/mental-health-services-explained/Documents/easy-read/MH-CoP-Glossary.pdf

[2016-08-18 23:19] joolswood opened #132 "Bolding phone numbers"
## What do you need?
Guidance on whether we should bold phone numbers.

## Which entry/section is this related to?
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/b.html#bold

[2016-08-19 05:41] joolswood opened #133 "Sentence vs title case"
## What do you need?
Do we need to talk more explicitly about sentence vs title case?

## Which entry/section is this related to?
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/c.html#capitalisation

## Good example
https://medium.com/@jsaito/making-a-case-for-letter-case-19d09f653c98#.7m5j7i5it

[2016-08-19 06:26] joolswood opened #134 "Add content issues/comments to backlog"
## What do you need?
Track all backlog of comments and issues about the Content Guide in the one place.

[2016-08-19 06:27] joolswood opened #135 "Examples"
## What do you need?

More examples of people doing it right.

[2016-08-19 06:28] joolswood opened #136 "Special characters"
## What do you need?

Guidance on what/how to write special characters, for example for copyright.

[2016-08-19 06:28] joolswood opened #137 "Social media"
## What do you need?

Content guidance on social media.

[2016-08-19 06:37] joolswood opened #138 "Content article ideas"
## What do you need?

Some ideas for guide articles:
- content debt
- sunsetting
- agile content
- accessible content.
## Good example
- https://18f.gsa.gov/2016/05/19/content-debt-what-it-is-where-to-find-it-and-how-to-prevent-it-in-the-first-place/
- https://18f.gsa.gov/2016/05/23/a-sestina-on-sunsetting-content/
- https://18f.gsa.gov/2016/05/31/taking-an-agile-approach-to-content/
- https://zap

[2016-08-23 00:47] lhowdin opened #139 "Referring to legislation"
When linking to legislation, use the bookmark tool in legislation.gov.au to ensure link is to the current version (unless of course you are referring to an historical version).

[2016-08-23 00:52] lhowdin opened #140 "Identify content rules that can be checked automatically"
It is a huge waste of time getting authors and approvers to check for particular words, spellings and spaces around punctuation when a machine can do it seconds. Our dictionary could also be made available to other agencies to use in their checkers.

[2016-08-23 07:07] joolswood opened #141 "'Skip to' links guidance"
## What do you need?

Content to remind people to add skip links, and link to this https://gov-au-ui-kit.apps.staging.digital.gov.au/section-navigation.html#guide-navigation-7-skip-links
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/h.html#hyperlinks ?

[2016-08-23 23:08] joolswood commented on #112
Related to https://github.com/AusDTO/gov-au-ui-kit/pull/296

[2016-08-23 23:09] joolswood commented on #128
Having a chat with Mick and @klepas about this on Thursday.

[2016-08-23 23:17] joolswood commented on #132
Related to #118

[2016-08-23 23:28] joolswood opened #142 "Install UI-KIT"
## What do you need?

Responsive and accessible UI.
## Good example

https://gov-au-ui-kit.apps.staging.digital.gov.au/ :)

[2016-08-23 23:29] joolswood opened #143 "Change page title to reflect actual location in site"
## What do you need?

The browser to know which page I'm on.

[2016-08-23 23:30] joolswood opened #144 "Fix favicon"
## What do you need?

An excellent favicon.

[2016-08-24 00:42] joolswood commented on #139
Hey @lhowdin can you link to the tool please?

[2016-08-24 00:44] joolswood commented on #139
Ah, just found it! Can I have a chat about how this might work?

[2016-08-24 00:49] lhowdin commented on #139
To link to the latest legislation, select the bookmarkoption 'Go to latest', right click and copy link.  We might need some other advice about when and how to refer to legislation in general.  That is something that should probably be discussed with lawyers, maybe the Australian Government Solicitors would have something to say about it...but check they are not charging you before you get their he

[2016-08-24 00:51] joolswood commented on #139
eg. https://www.legislation.gov.au/Latest/C2016C00763

[2016-08-24 00:52] joolswood commented on #139
Cheers @lhowdin

[2016-08-30 02:48] joolswood opened #145 "Fractions guidance"
## What do you need?

Guidance on writing fractions. Andrew confirms decimals are preferable (0.5 1.5). Need to consider 2/3, 3/4 and so on.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/n.html#numbers

[2016-08-30 03:23] klepas opened #146 "Provide guidance on writing headings to be contextually meaningful when read stand-alone"
This card comes from the user a11y testing gov.au and uikit performed with Scott Grimley.

The concerns are around multiple headings (esp. of the same hierarchy type) on a page, which we found to be confusing to screen reader users to navigate through: eg “Get more help” 5x a page is crap; “Get more help with X” is useful.

In general this also relates to guidance around writing content while keep

[2016-08-30 05:45] matthewmccarthyDTO opened #147 "Commas in numbers"
Use the GitHub title line for your issue, then delete these lines.

Please log a separate GitHub issue for each comment.
## What do you need?

What is the problem?
## Which entry/section is this related to?

For example: Hyperlinks
## Good example

Have you seen style content elsewhere we should look at?

[2016-08-30 05:53] joolswood opened #148 "Non-data use of numbers (especially 1) in sentences"
## What do you need?

Guidance on use of numbers when they are not data, and one generally. For example 'There is 1 way to do this' or 'The 1 strategy for'.

It may be justified to add some more rationale on this one.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/n.html#numbers
## Good example

https://www.gov.uk/guidance/style-guide/

[2016-08-30 06:53] joolswood commented on #148
Digits rather words for numbers have two main benefits online - they assist people with Dyslexia and they aid scanability (noting the difference between on-line vs off-line reading styles). Some references I'm aware of include:
…

An Eye-Tracking Study of Number Representation Readability
Conclusions and Future Work: The presence of numerical information in a text impacts its readability. We have

[2016-08-30 23:52] joolswood opened #149 "Paragraph breaks"
## What do you need?

What I’m trying to suggest is a move away from talking about paragraphs and instead talking about 'paragraph breaks’.

This is based on my experiences talking about this with writers, who get inevitably get confused and start writing bad sentences because they’re trying to fit some paragraph rule.

What I’m really talking about is presenting text, rather than constructing tex

[2016-08-31 00:25] joolswood opened #150 "Search guidance"
## What do you need?

Improved guidance on optimising content for search.

Maybe add in-search site discussion, and also how to effectively identify keywords and headings through UR.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/2-optimise-your-content-for-search.html

[2016-08-31 00:29] joolswood opened #151 "Think like a content designer"
## What do you need?

Improved guidance on content designer role. There's a mix of first and third person perspective. Some of the language could be simplified.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/5-think-like-a-content-designer.html

[2016-08-31 00:34] joolswood opened #152 "IA research for Content Guide"
## What do you need?

- IA user research around existing pages, especially for the organisation of terms in A-Z.
- Consider if 'Please also see' are the right words for cross-links.

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-guide.html

[2016-08-31 00:36] joolswood opened #153 "List of government words (and definitions) including DTO ones"
## What do you need?

Lists of words (and definitions) with very specific meaning. This includes DTO ones like, Alpha stage, Beta stage, the (Digital Service) Standard, and so on.

[Draft doc](https://docs.google.com/a/digital.gov.au/document/d/1AkeyFLnFLQrjMzGKz91D7dCHhPTVT0oHvWRQJK0VN2w/edit?usp=sharing).
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital

[2016-08-31 00:46] joolswood opened #154 "Content types"
## What do you need?

Discussion in the Content Clinic about how we are working with / planning for content types, and how the Content Guide can support this work.

It would be great if you could lead this @lhowdin
## Which entry/section is this related to?

Nil so far.
## Good example

https://www.gov.uk/guidance/content-design/content-types

[2016-08-31 00:55] maadonna commented on #154
I'll be fairly heavily involved in this. Defining what content types we have and how we use them is pretty core IA work :)

[2016-08-31 00:56] joolswood commented on #154
Of course @maadonna !

[2016-08-31 01:00] joolswood opened #155 "Animations"
## What do you need?

Guidance on when and how to use animation.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/v.html#video

[2016-08-31 01:31] joolswood commented on #128
Would be good to do a template definition of done for issues/PRs.

[2016-08-31 01:35] joolswood commented on #125
We should also do a related entry for 'parentheses'

[2016-08-31 01:51] joolswood opened #160 "Errors"
## What do you need?

Guidance on errors, for example 404s.

There'd be a cross over with UI-KIT content.

[2016-08-31 03:10] joolswood opened #162 "Remove www from links"
## What do you need?

Decision on whether we can advise to remove the `www` from URLs yet.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/h.html#hyperlinks
## Good example

https://pages.18f.gov/content-guide/urls-and-filenames/

[2016-08-31 03:14] joolswood opened #163 "Infographics"
## What do you need?

Guidance on infographics.

[2016-08-31 06:43] joolswood opened #164 "Podcasts"
## What do you need?

Guidance on why/when to do podcasts.

[2016-08-31 06:46] joolswood opened #165 "Quotations"
## What do you need?

Guidance on when to indent paras (and to use `<blockquote>`).
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/q.html#quotation-marks

[2016-09-01 01:11] klepas opened #167 "Provide guidance on writing tables"
The current draft of the design guide has some guidance on tables, but more from a technical perspective: https://gov-au-ui-kit.apps.staging.digital.gov.au/section-tables.html

It would be great to see some guidance on writing tabular content (when, what to do; what not to do, etc.).

[2016-09-01 01:42] joolswood commented on #146
Assign to Michael - will catch up with him

[2016-09-01 01:53] joolswood commented on #148
Assigned to Nigel

[2016-09-01 02:02] joolswood commented on #121
Assigned to Matthew to find examples

[2016-09-01 02:09] joolswood commented on #132
Content Clinic agreed not to bold phone numbers.

[2016-09-01 02:10] joolswood opened #168 "Document on Markdown"
## What do you need

Guidance on how to do Markdown.

[2016-09-01 02:12] joolswood commented on #101
Libby to provide an update on this.

[2016-09-01 02:14] joolswood commented on #101
May be a sub section of plain English.

[2016-09-01 02:14] joolswood commented on #101
Content designers to update spreadsheet with new words.

[2016-09-01 02:16] joolswood commented on #133
Content Clinic agree to add more content.

[2016-09-01 02:21] joolswood commented on #125
Libby to do some desktop research.

[2016-09-01 02:22] joolswood commented on #123
Section needs improvement.

[2016-09-01 02:32] joolswood commented on #111
Content Clinic agrees to leave as is.

[2016-09-01 02:34] joolswood commented on #147
Ask Andrew Arch about screen reader usage.

[2016-09-01 02:37] joolswood commented on #147
@joolswood also to talk to UI-KIT team about rendering.

[2016-09-01 02:41] joolswood commented on #145
Libby to talk to Andrew

[2016-09-01 02:45] joolswood opened #169 "Remove percentage & per cent spelling from entry"
Content Clinic decision

[2016-09-01 02:47] #111 closed

[2016-09-01 02:47] #132 closed

[2016-09-01 02:48] joolswood commented on #118
@joolswood to review this task and check is done

[2016-09-01 02:49] joolswood commented on #112
Need to link to this from Content Guide

[2016-09-01 02:49] joolswood commented on #124
Come back to with Michael

[2016-09-01 04:20] joolswood commented on #168
@michael.hugill FYI

[2016-09-01 04:34] joolswood opened #171 "Structuring page / Structure your page for readability"
## What do you need?

Address duplication of content.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/3-structure-your-page-for-readability.html
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/s.html#structuring-a-page

[2016-09-01 05:04] joolswood opened #172 "Improve Content Guide changelog"
## What do you need?

Improve how we log changes.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/updates/
## Good example

http://keepachangelog.com/en/0.3.0/

[2016-09-02 04:41] #126 closed

[2016-09-02 04:49] joolswood opened #173 "Progress bars in surveys"
## What do you need?

Guidance on using (or not using) progress bars.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/f.html#forms-surveys-questionnaires
## Good example

https://www.gov.uk/service-manual/user-centred-design/resources/patterns/progress-indicators.html

[2016-09-02 04:51] joolswood commented on #169
Also update http://content-style-guide.apps.staging.digital.gov.au/az-indexes/s.html#symbols-and-characters

[2016-09-02 04:52] joolswood opened #174 "Daylight savings"
## What do you need?

How to talk about daylight savings.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/t.html#time

[2016-09-02 04:56] joolswood opened #175 "Resources section"
## What do you need?

Decision on if we she should add a tools/resources page or section.

I'm not a big fan of lists of resources as they don't give context as well as crafted inline links.

Lots of links in the parked doc we can use.

[2016-09-02 04:59] joolswood commented on #169
And http://content-style-guide.apps.staging.digital.gov.au/az-indexes/w.html#weights-and-measures

Might be a good idea to link rather than repeat in the other 2 sections.

[2016-09-02 05:03] maadonna commented on #175
My opinion is that these are lazy IA. people should be able to find what they need via the topic of interest, not from a 'resources' list :)

[2016-09-02 05:08] joolswood opened #176 "What is this / who is this for repetition"
## What do you need?

Reduce repetition of similar content where unhelpful.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/
http://content-style-guide.apps.staging.digital.gov.au/az-guide.html

[2016-09-02 05:33] joolswood opened #177 "Usefulness entry"
## What do you need?

Consider if this is the best place for this information.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/u.html#usefulness
http://content-style-guide.apps.staging.digital.gov.au/writing-for-the-web/

[2016-09-02 05:37] joolswood commented on #134
Added the straightforward ones from the parked doc. There's a lot related to content types to come back to. Also the ones we've already alluded to here http://content-style-guide.apps.staging.digital.gov.au/ideas-for-the-future/

[2016-09-02 05:37] #134 closed

[2016-09-07 00:43] AndrewArch commented on #145
I'll take on to investigate screen reader issues (if any) with the various alteratives

[2016-09-07 00:44] libbyv commented on #145
Suggestion: We agree decimals for simple fractions eg 2.5, 0.5 etc.

AA to investigate best approach for two-thirds versus 2/3 with screen readers.

[2016-09-07 00:49] libbyv commented on #125
AA to check how screen readers respond.
IE whether it's better to use brackets over a set of commas.
Possibly yes.

[2016-09-07 00:51] libbyv commented on #147
Agree that up to 9999 no commas and then commas used ie 10,000 - Andrew to double confirm.

[2016-09-07 00:54] libbyv commented on #121
AA says it won't make any diff either way for a screen reader.

[2016-09-07 01:10] nigelbartlett opened #178 "Consistent style for opening hours and AEST etc"
Consistent style for opening hours and AEST etc
## What do you need?
1. Can we have a consistent style for the ordering of opening/operating hours for phone lines, organisations and so on. 2. Can we just use AEST (etc) instead of spelling it out the first time.

What is the problem?
1. In Agency/Topic we run opening/operating hours as follows:

[Organisation name]
02 6271 1000
9am to 5pm Australia

[2016-09-07 02:29] michaelhugill opened #179 "Inline glossary for editing tool"
## What do you need?

What is the problem? Long story short: there are government terms that can't be rewritten (eg portflio, parliament, senate etc) but have low readability.

We can't simply add an explanation every time these words appear, so an inline glossary (perhaps a link or 'hover over' functionality) would help users to understand the term.

This is NOT about govspeak, eg ensure, impleme

[2016-09-09 00:37] joolswood opened #180 "Second level bullet points"
## What do you need?

Guidance on using (or not using) second level bullet points.
## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/b.html#bullet-point-lists
## Good example

https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps
https://pages.18f.gov/content-guide/punctuation/

[2016-09-09 04:06] joolswood commented on #179
Being tracked in JIRA too: `GOVAU-484`

[2016-09-09 05:09] joolswood commented on #179
Linked to #153

[2016-09-09 05:33] joolswood commented on #179
Have commenced the list. We might make this an activity as part of a future content clinic.

[2016-09-12 22:53] joolswood commented on #148
New wording in `Numerals before 10` doc

[2016-09-13 02:47] matthewmccarthyDTO opened #181 "Expand on the use of italics"
## What do you need?

Expand content guide to include italics use in Annual Reports

What is the problem?

Not a current rule around how Acts are italicised
## Which entry/section is this related to?

Italics
## Good example

Have you seen style content elsewhere we should look at?

[2016-09-14 23:44] joolswood commented on #153
Relates to #179

[2016-09-15 01:16] michellemortimer commented on #106
Draft only:

"Make headings and page titles active when users can complete a task, for example submitting an application form. Think of it as a call to action.

For example:
'Enrol to vote'
'Apply for a licence'

Use the gerund (-ing verbs) in headings when the content provides guidance but the user can’t take a direct action.

For example:
'Caring for someone'
'Protecting your identity online'"

[2016-09-15 01:17] michellemortimer commented on #106
Maybe this guidance is more appropriate under 'headings' or 'titles', similar to GOV.UK: https://www.gov.uk/guidance/content-design/writing-for-gov-uk

[2016-09-15 01:42] joolswood commented on #162
Clinic agreed to drop the `www`

[2016-09-15 01:53] joolswood commented on #180
Add content to avoid 2nd level bullets and add example showing how to re-work (see Google Group).

[2016-09-15 01:58] joolswood commented on #167
https://gov-au-ui-kit.apps.staging.digital.gov.au/section-tables.html#guide-tables-3-accessibility

[2016-09-15 02:04] joolswood commented on #146
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/h.html#headings-and-subheadings
http://content-style-guide.apps.staging.digital.gov.au/az-indexes/s.html#structuring-a-page
Add "Being able to understand the page content from the headings alone"

[2016-09-15 02:10] joolswood commented on #149
As discussed, please can someone add the wording discussed in the Content Clinic.

[2016-09-15 06:36] joolswood opened #182 "My/Your in naming of things"
## Which entry/section is this related to?

Idea for a future content type/pattern?
## Good example

http://russelldavies.typepad.com/planning/2016/08/me-myself-and-mine.html

[2016-09-15 23:49] joolswood commented on #106
Thanks @michellemortimer just having a chat with @maadonna on this. Maybe we should apply this more to subheadings than titles? There's probably fewer verbs that also work well as good keywords; `Enrol to vote` might be one.

[2016-09-16 00:22] michellemortimer commented on #106
No worries @joolswood. We're actually talking about this right now - @michaelhugill @matthewmccarthyDTO and I are working on a page called 'Immunising your child'. It would seem odd to call the page 'Immunise your child' - sounds like an imperative/command?

I'm not 100% sure on the grammar rules...on reflection, I don't think this is technically a gerund - maybe just present continuous tense? May

[2016-09-16 00:30] maadonna commented on #106
Often you can flip them to noun forms instead of verbs/gerunds - this could be 'Childhood immunisation'. In the past I've usually tried to make them all (much shorter) noun forms then only used verb/gerunds if the noun form makes little sense. I'm talking about page titles only though, and only in situations where the page is general information, not tasks :)

[2016-09-16 00:43] nigelbartlett commented on #106
True, but 'Childhood immunisation' could be very broad. It could mean (for
instance) the whole range of government policy surrounding child
immunisation. What 'Immunising your child' refers to is more specific.

N.

*Nigel Bartlett*
Content designer
Digital Transformation Office
www.DTO.gov.au <http://www.dto.gov.au/>

On 16 September 2016 at 10:30, maadonna <notifications@github.com> wrote:

[2016-09-16 00:50] maadonna commented on #106
Of course. That's why I always try the noun form and see if it still has the same meaning :)

[2016-09-20 00:58] joolswood commented on #167
Libby has started a doc - Tables_content for new entryT

[2016-09-20 01:31] joolswood commented on #152
Internal card sort exercise in progress.

[2016-09-20 01:33] joolswood commented on #101
Superseded by #101

[2016-09-20 01:33] #101 closed

[2016-09-20 06:14] joolswood commented on #179
Will move the list to a yaml file in `/data/` folder of repo.

[2016-09-21 04:56] joolswood commented on #117
Will review to check what has been done.

[2016-09-23 04:50] NoniH opened #188 "Noni test issue"
## What do you need?

Noni needs to create a test issue

## Which entry/section is this related to?

For example: Hyperlinks + URL

## Good example

Have you seen style content elsewhere we should look at?

[2016-09-28 02:44] NoniH opened #189 "What is the preferred way to refer to text/SMS messages?"
## What do you need?

Guidance on preferred terminology (or when to use what) for texts or SMS messages.

Context: when logging in someone my choose to receive a code via SMS/text.
## Which entry/section is this related to?

Mobile?

[2016-09-28 03:07] NoniH opened #190 "Referring to all 3 levels of government together"
## What do you need?

How do we refer to all 3 levels of government together? E.g. Federal/commonwealth, state and territory and local government.

For example:
This tool cal be used when applying for all Australian government services (federal, state and territory and local).

Things to consider: How will this make use of the government naming conventions currently in the guide?
## Which entry/se

[2016-10-03 23:53] joolswood opened #191 "Bug - Apostrophe mistake"
## What do you need?

Fix incorrect heading:

`Is a substitute for ‘is’`

...

[code]

Raised in [Google Group](https://groups.google.com/a/digital.gov.au/forum/#!topic/content-design-in-government/BfN3ThveB5s).

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/a.html#apostrophe

[2016-10-04 00:02] joolswood commented on #190
We did a survey to focus on what we call the national government (Australian Government) but not all 3 levels.

Possibly the results may still help with the naming of the others.

[2016-10-04 05:21] joolswood commented on #106
I've added some [draft content on this](https://github.com/AusDTO/gov-au-content-guide/commit/af1078ff5c11c16215f1ef7080e552bf5d533320).

[2016-10-05 00:40] joolswood commented on #128
Relates to https://github.com/AusDTO/gov-au-ui-kit/issues/400

[2016-10-11 00:13] joolswood commented on #179
Need to return to this with relevant people - check needs are still the same. Also cloud.gov.au are interested in something similar https://ausdto.slack.com/archives/content-design/p1475232268000064

[2016-10-11 03:45] fearlesssteven opened #193 "Time zones"
## What do you need?

A new entry in the DTO Style Guide relating to time zones.

Suggest:

Time zones

Across Australia there are 3 time zones —plus daylight savings during summer months in some locations — with the acronyms AEST, AEDT, ACST and AWST.

These acronyms are not always known intuitively.

Avoid, where possible, by using the name of a key city instead.

**For example**

Applications c

[2016-10-11 22:23] michaelhugill opened #194 "Contractions entry in Style Guide"
## What do you need?

I think we could consider an update to the Contractions entry in the Style Guide.

## What is the problem?

The way the entry is currently laid out opens it up to misinterpretation – it seems one person (not me!) may have interpreted the example box as telling authors to convert contractions back to two words.

Also, it may have drifted away a little from our mantra of helpin

[2016-10-12 01:09] joolswood commented on #194
Hi @michaelhugill see #123 - some draft wording discussed with @libbyv

[2016-10-12 23:28] joolswood commented on #131
Assume this contributes to #179

[2016-10-12 23:30] joolswood commented on #178
Relates to #193

[2016-10-12 23:57] michaelhugill commented on #124
Hi @joolswood, do you need more from me? Does the above not cover it?

[2016-10-12 23:59] joolswood commented on #124
@michaelhugill not necessarily; I was just assigning issues for discussion at the next CC to the people who created the ticket so they could talk to the item.

[2016-10-13 03:24] michaelhugill commented on #124
@joolswood Sounds good. Let's discuss at next CC.

[2016-10-13 03:30] michaelhugill commented on #123
@libbyv New suggestion below as requested on Slack (cc @joolswood).

Use contractions carefully to make your voice and tone more conversational. Remember that low-literacy users and people with English as another language may find contractions difficult to understand.

Avoid less common coloquial contractions, like you'd.

Always consider the context:

* Avoid contractions in situations where ther

[2016-10-13 03:42] fearlesssteven commented on #123
I still think Ms, Pty Ltd., and Dr are all abbreviations.

Supported by https://en.wikipedia.org/wiki/Abbreviation

Rather than just raise problems I'll draft something a bit later and get back to y'all.

[2016-10-13 03:51] joolswood opened #196 "Card sort exercise to inform Content Guide IA"
- [X] @joolswood to tweak cards in spreadsheet https://docs.google.com/spreadsheets/d/1i0lXqvZKbVauDqG5KwecBDPOwS6QoXFpojgkYOe3BeQ/edit#gid=0~~
- [X] @maadonna will set it up the exercise.
- [x] Confirm roles
- [x] Draft release email

[2016-10-14 00:28] joolswood commented on #123
I'm inclined to agree @fearlesssteven do you want to do an edit to the current Abbreviations entry?

[2016-10-14 00:33] joolswood commented on #123
Hey @michaelhugill we removed the forms bit originally as there were examples of forms where we did use contractions for good reason; but I can see value in providing it like this, in terms of a warning.

Not sure about the second dot point, do we have an examples of where this has been a problem? I was also thinking that sentences that had more than 1 contraction might invariably end up being lon

[2016-10-14 02:16] michaelhugill commented on #123
@fearlesssteven I agree too.

@joolswood Second dot point = something a few of us discussed in Canberra the other day. I think it comes from the idea that a sentence filled with apostrophes (and other punctuation) might be hard to read for some people. Will leave with you.

[2016-10-18 04:19] joolswood commented on #194
Closing this - please use #123 instead

[2016-10-18 04:19] #194 closed

[2016-10-19 00:22] joolswood commented on #153
I've split the work involved. This ticket is just about the writing of the list of words (non technical in the main). #179 is about the technical implementation of the list of words say for instance as part of the editing tool.

[2016-10-19 00:23] joolswood commented on #179
I've split the work involved. This ticket is about the technical implementation of the list of words say for instance as part of the editing tool. #153 is about the writing of the list of words (non technical in the main).

[2016-10-19 00:24] joolswood commented on #152
Replaced by #196

[2016-10-19 00:24] #152 closed

[2016-10-19 00:28] joolswood commented on #168
@klepas and @joolswood would be happy to help with this

[2016-10-19 22:43] AlzbetaT opened #200 "Guidance on language around accounts"
Guidance on the approach and language around account:

**Sign in/Sign up vs Log in/Log out ?**

**Create an account/Register/Join ?**

While it seems to be a pretty even split with for/against for each... (to me) there is something about 'Log in' that doesn't feel like it accurately conveys the meaning of what the user is actually doing, like "Sign in"... "entering something vs noting something"?

[2016-10-19 23:56] joolswood commented on #190
https://leisareichelt.typeform.com/report/geoaK5/Y41X

[2016-10-20 00:11] joolswood commented on #115
@AndrewArch to draft some words. We will work out the best place for this.

[2016-10-20 00:14] joolswood commented on #116
@AndrewArch to draft text

[2016-10-20 00:16] joolswood commented on #124
We decided this is an internal content issue - not for content guide at the present.

[2016-10-20 00:16] #124 closed

[2016-10-20 00:25] joolswood commented on #127
We might approach the Google Community to discuss this.

[2016-10-20 00:32] joolswood commented on #200
Content clinic - preference for `Sign in`, `Sign out` Registration requires more consideration.

[2016-10-20 00:34] joolswood commented on #139
Add to guide, possibly `hyperlink` section.

[2016-10-20 00:36] joolswood commented on #140
Part of GOV.AU's work.

[2016-10-20 00:36] #140 closed

[2016-10-20 00:37] joolswood commented on #149
Hi @michaelhugill please can you add some text around this.

[2016-10-20 00:42] joolswood commented on #193
Content Clinic decision to continue including the acronyms.

[2016-10-20 00:45] joolswood commented on #178
[Organisation name]
Monday to Friday
9am to 5pm AEST (Australian Eastern Standard Time)
03 8266 5260 or 1300 885 886

[2016-10-20 00:50] klepas commented on #193
I can see us wanting to provide some technical information here too (although possibly just a reference; we could provide more guidance on this in the Design Guide) — eg, see:

- http://www.brucelawson.co.uk/2012/best-of-time/
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time

[2016-10-20 00:56] joolswood commented on #181
To discuss with @AndrewArch

[2016-10-20 03:19] #133 closed

[2016-10-20 04:27] joolswood commented on #123
Related to PR 199

[2016-10-21 02:46] joolswood commented on #153
[TFID's glossary](https://docs.google.com/document/d/1DrHPBdKFGQEAOWgX18NyPRgm9IFgVNbWzYR0VmCJVy4/edit?ts=58098147) may also be relevant.

[2016-10-21 04:17] joolswood commented on #196
It's live!

[2016-10-25 00:06] AndrewArch commented on #181
While italicised text is harder to read (especially for many people with dyslexia) that doesn't mean it should _never_ be used -  just use it (very) sparingly.
Thus, the occasional use of italicised text for Acts of Parliament and for Latin names is acceptable. However, do not draw attention to other blocks of text or phrases with emphasised/italicised text.

The WCAG 2.0 Guideline 3.1: 'Make text

[2016-10-25 00:49] AndrewArch commented on #125
Screen readers pause ever so slightly when they encounter a comma (like we do when we read aloud). However, they announce the opening and closing of brackets (and the type of bracket) when they encounter these - so a slight disruption to the reading flow like it is visually.  my take - use brackets sparingly.

[2016-10-25 01:05] AndrewArch commented on #167
one consideration is that 'complex' tables or large tables should be broken down to simpler/small tables where  ever possible to aid cognitive processing generally.

[2016-10-25 01:07] AndrewArch commented on #180
what's the rationale for discouraging 2 levels of bullets?

[2016-10-25 01:31] AndrewArch commented on #115
This arose from a situation a couple of years ago when DHS used 'deceased' on their page about benefits after someone had died but the readers where searching for death/died/etc and not finding the page. In conversation people would say 'my father died' rather than 'my father is now deceased'.

Suggested content:

Be sure to use the language of your users/customers in preference to legal jargon or

[2016-10-25 01:33] AndrewArch commented on #108
can we test for a person's current location and put that at the top (on the assumption that mostly it would be what they need)?

[2016-10-25 01:38] AndrewArch commented on #149
Beg to differ on the readability/scanability aspect - don't artificially insert 'paragraph breaks' every few sentences, if I understood @joolswood correctly. Keep the idea within a single paragraph - rewrite the paragraph if it seems too long!

[2016-10-25 01:40] AndrewArch commented on #113
@klepas - happy to workshop this with you and others when appropriate

[2016-10-25 02:17] AndrewArch commented on #145
Suggestion is to use percentage (eg nn%) where ever appropriate. Response from an experienced JAWS user ...
[code]

[2016-10-25 02:21] #191 closed

[2016-10-25 04:08] joolswood commented on #180
@AndrewArch I'd suggest it's to cap the complexity of sentences. Once you add in the second level you're increasing the cognitive load in scanning the sentence (needing to remember 2 "spines"* instead of 1). @fearlesssteven ?

*`spine` probably isn't the right word - what do you call the bit before the colon in a list?

[2016-10-25 13:20] maadonna commented on #108
That's a good idea & will be possible in some situations, but we'll still have lists of states in content that never need to be adaptive & still need a rule

[2016-10-26 02:56] joolswood commented on #169
These may be combined in the future; I'll keep them separate for now.

[2016-10-26 03:23] joolswood commented on #169
Wondering about a situation when someone would write something like `To find the percentage do this...`. Should we leave in something to cover this situation, ie. you would write `percentage` not `%`.

[2016-10-26 05:17] joolswood commented on #148
Hey @nigelbartlett I've added your words to [bugfix/148-numerals](https://github.com/AusDTO/gov-au-content-guide/tree/bugfix/148-numerals). Can we find a more precise way of saying `Use a word for expressions where a digit would look odd.`?

[2016-10-26 05:18] joolswood commented on #148
See https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#numbers
[code]

[2016-10-27 05:55] petronbot opened #205 "Migrate to new Guides Jekyll theme"
**Blocked by:**
- IA card-sorting
- https://github.com/AusDTO/dto-design-guide/issues/13

[2016-10-27 06:03] AndrewArch commented on #147
Has this number pattern been usability/readability tested? I'm concerned that not including a comma in numbers with 4 digits makes them harder to  understand - especially for people with reading and learning difficulties (ie familiarity helps recognition helps understanding)

[2016-10-27 06:04] petronbot opened #206 "Reorganise Content Guide content into new IA"
Will require some editing/re-write work as different sections come together.

**Blocked by** https://github.com/AusDTO/dto-design-guide/issues/13 and https://github.com/AusDTO/gov-au-content-guide/issues/196

[2016-10-27 06:12] joolswood commented on #147
Happy to reopen this ticket if needs be @AndrewArch @libbyv

[2016-10-27 06:17] AndrewArch commented on #147
As I recall I checked for screen readers - not a problem for them. I obviously didn't think more broadly :(

[2016-10-27 23:05] libbyv commented on #147
Agree it would be good to check that Andrew. Thanks

[2016-10-28 00:59] joolswood commented on #153
Will commence work on the DTA bit of this work (as requested by the Standards team).

[2016-10-28 01:00] joolswood commented on #153
Also cloud.gov.au are interested in something similar https://ausdto.slack.com/archives/content-design/p1475232268000064

[2016-10-30 22:45] NoniH commented on #190
Thanks for the survey results Jools. It would be good to make a call on this in the next clinic.

[2016-10-31 22:08] klepas commented on #113
I suspect this will be put on the backburner as a pattern. We have it tracked here, so it’s in our backlog. (:

[2016-11-01 01:52] klepas commented on #196
Just looking for an update — can we close this card? :S

[2016-11-01 01:53] maadonna commented on #196
I'm doing analysis of results now - let's close it when I finish that

[2016-11-01 05:51] joolswood commented on #206
Initial task (underway) [mapping sections in spreadsheet](https://docs.google.com/spreadsheets/d/1C8LmNAkufaygI5kS9OIIPtpqkcILUebi__kXSg-4Z_Y/edit#gid=0).

[2016-11-03 02:00] AndrewArch commented on #147
breaks for long numbers - `Similarly, it is easier to recall 3 digits over 4, as both these graphs demonstrate` - http://ux.stackexchange.com/questions/74851/ideal-breaks-for-long-numbers#answer-75318

[2016-11-03 05:56] joolswood commented on #196
Card sort activity now completed! See results here: https://docs.google.com/spreadsheets/d/1i0lXqvZKbVauDqG5KwecBDPOwS6QoXFpojgkYOe3BeQ/edit#gid=372668572

[2016-11-03 05:56] #196 closed

[2016-11-03 05:57] joolswood opened #207 "Discuss results of IA card sort with content clinic"
Results here: https://docs.google.com/spreadsheets/d/1i0lXqvZKbVauDqG5KwecBDPOwS6QoXFpojgkYOe3BeQ/edit#gid=372668572

[2016-11-03 07:08] klepas commented on #196
@joolswood Could I ask you to give a brief summary on the results? :S

[2016-11-03 22:12] joolswood commented on #196
@klepas certainly. I'm hoping to go into it in depth with Content Clinic in 2 weeks' time but I can talk you through it before then.

[2016-11-04 00:42] klepas commented on #196
@joolswood Keen to timebox a summary run-through to like 10–15mins or something. Lemme know when works for you? Happy to wait until we catch up in-person next week. (:

[2016-11-04 01:07] joolswood commented on #196
@klepas I'm happy to book in some time this arvo if the rest of the team are interested, otherwise have a chat Monday?

[2016-11-07 22:27] joolswood commented on #162
Comments from @klepas "I think it’s OK to advise dropping it, *provided* (as you noted) they ensure the shorthand with the prefix omitted works. DNS, URL/URI changes can always happen, and something we can’t control."

[2016-11-07 22:37] klepas commented on #116
@AndrewArch I think this is sitting with you? :)

[2016-11-07 22:43] klepas commented on #162
Just adding: some sites aren’t set up to route without `www` — this can be a constraint, or just a lack of config.

[2016-11-08 04:14] joolswood commented on #162
@klepas better?

[2016-11-08 08:16] klepas commented on #162
@joolswood I added a comment based on the edits you made in the PR.

[2016-11-08 23:06] joolswood commented on #162
@klepas did I miss a comment? I can't see anything. Or do you think it needs to be more explicit about the why?

[2016-11-09 00:16] klepas commented on #162
@joolswood Ah, my bad — I’m confused as to how GH reviews works — you have to add your note to a line, and then click ‘Submit review’ in the top right of the files changed view tab it seems.

Should be there now on the PR: https://github.com/AusDTO/gov-au-content-guide/pull/204#pullrequestreview-7572216

[2016-11-14 05:18] joolswood opened #208 "Add numbered lists guidance"
## What do you need?

We should advise when it's appropriate to use an ordered/numbered list.

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/n.html#numbered-lists

## Good example

https://github.com/AusDTO/dto-design-guide/blob/feature/typography-refactor/_foundations/typography/lists.md

https://www.gov.uk/guidance/style-guide/a-to-

[2016-11-16 03:21] joolswood commented on #180
You can review changes here: http://content-guide-180-bulletpoints.apps.staging.digital.gov.au/az-indexes/b.html#bullet-point-lists

[2016-11-16 03:21] joolswood commented on #180
I feel like I need some more content designer input on this so am knocking this back to Content Clinic.

[2016-11-16 04:57] joolswood commented on #169
Guess not :) Can add guidance on this, if required in the future.

[2016-11-16 05:02] joolswood opened #210 "Rename DTO things to DTA things (in content guide)"
- need to change the repo name
- update all references to DTO to DTA

[2016-11-17 03:22] joolswood commented on #208
Content Clinic agrees to add "go easy" guidance - e.g. can be overwhelming to have large number of numbered steps. Check with @AndrewArch

[2016-11-17 03:24] #207 closed

[2016-11-17 03:33] joolswood commented on #180
Content Clinic happy to publish as is

[2016-11-17 03:38] joolswood commented on #149
Review text with these changes:
- mobile first
- 1-2 sentences

[2016-11-17 03:43] joolswood commented on #189
Content Clinic rec: "text message"

[2016-11-17 03:55] joolswood commented on #181
Content Clinic: link Italics guidance to bold and titles (ie keep the same approach)

[2016-11-17 04:04] joolswood commented on #190
Hi @NoniH we discussed this in Content Clinic and we we're hoping you can take a look at some other style guides and see how they've done it?

[2016-11-17 04:17] joolswood commented on #149
From @libbyv:
[code]

[2016-11-17 04:45] joolswood commented on #121
#211 relates

[2016-11-17 04:46] NoniH commented on #190
I can't seem to find any official style guides that refer to using the three levels of government together. Do you know of any?

References I can find:
**Federal, state and local** (commonly used both in Australia and internationally)

**Federal (or national) Parliament, in Canberra. State/territory parliaments, in each state/territory capital city. Local councils (also called shires or municipali

[2016-11-17 05:09] #169 closed

[2016-11-17 05:51] #123 closed

[2016-11-18 02:59] joolswood opened #212 "Write update on Content Guide for content design community"

[2016-11-18 03:47] NoniH commented on #190
Wording on GOV.AU: [https://www.gov.au/about]
**the Australian Government and state, territory and local governments**

This does fit within the current style guide so is then perhaps preferable.

[2016-11-24 23:49] joolswood opened #213 "Using `a` user or `the` users in guidance (singular vs plural)"
## What do you need?

I’ve noticed (at least I think I have; I haven’t done a formal check of this) that GOV.UK guidance preferences `a user` or `the user` (singular) over `the users` or `your users` (plural). I figure this is about encouraging people who write content to think about individual difference rather than just lumping everyone together as the same kind of user. What do you think?

## W

[2016-12-01 00:12] joolswood commented on #213
Content Clinic: good to go with a/the user for the reasons above.

[2016-12-01 00:17] joolswood commented on #182
Maybe a caution about how the title of the thing is used in other contexts eg log into my MyAccount.

[2016-12-01 00:25] joolswood commented on #175
Content Clinic: dedicated section probably not needed for the content guide; however some guidance on using lists of resources may be valuable.

[2016-12-05 00:02] libbyv opened #214 "Wrong entry in Plain English words list"
Can we remove the first example under Like this.. Not this - It's not a plain English issue.
State and Territory and Local Governments	state and territory, and local governments

[2016-12-06 22:28] joolswood opened #215 "Improve guidance on writing email addresses"
## What do you need?

Make our guidance on writing email addresses clearer.

## Which entry/section is this related to?

http://content-style-guide.apps.staging.digital.gov.au/az-indexes/h.html#hyperlinks

## Good example

Lots of good [discussion about email links on Google Groups](https://groups.google.com/a/digital.gov.au/forum/?utm_medium=email&utm_source=footer#!msg/content-design-in-governme

[2016-12-15 05:17] joolswood commented on #162
Just added a commit for this @klepas https://github.com/AusDTO/gov-au-content-guide/pull/204/commits/6c3721eacfb7125f3e38e87bfff12d0e1d6cf5fa But I'm still a bit concerned though that the difference between a redirect and a routed URL is not clear. It's not 100% clear to me. How would an average user work out which one a site used (don't say just look at the URL :p)

[2017-01-04 23:27] libbyv opened #216 "Guidance around using www in links"

[2017-01-04 23:28] libbyv commented on #216
See discussion in Content Community thread early Jan 2017

[2017-01-04 23:29] libbyv opened #217 "Check we are using sign-in not log-in"

[2017-01-08 05:57] klepas commented on #216
@libbyv this might be a duplicate of #162?

[2017-01-08 05:58] klepas commented on #217
@libbyv This looks to be a duplicate of #200?

[2017-02-01 02:48] joolswood opened #219 "Structure content like data"
Comment from Lisa Howdin

## What do you need?

Under ‘Structure content’ it would be useful if we could add something further about structuring content like data.

Perhaps after limit levels we could say something like this:

Structure content like data
Let people and machines know what your content means.  Heading tags (H1, H2 for example) let machines know the order in which content should be r

[2017-02-01 02:50] joolswood opened #220 "Give feedback form"
## What do you need?

Request from user for a feedback form page.

## Good example

https://dashboard.gov.au/feedback

[2017-02-02 04:42] joolswood opened #221 "DIBP feedback"
Reviewing [suggestions for Content Guide entries received from DIBP](https://docs.google.com/a/digital.gov.au/document/d/1e61Mgh16KnUHSBusb0AWb9iz84rrBVYnMm63ZD6CMvE/edit?usp=sharing).

Reference: [DIBP Writing style guide](https://drive.google.com/a/digital.gov.au/file/d/0B476d7OhSs9gZnpRQlJjU0NEYk0/view?usp=sharing)

[2017-02-09 22:39] fearlesssteven opened #222 "Alpha or alpha / Beta or beta - seems like this is inconsistently applied across DTA materials."

[2017-02-09 22:40] fearlesssteven opened #223 "Focused or focussed? Have noticed both about the place. Prefer focused misself."

[2017-02-13 03:47] libbyv opened #224 "Program - needs more info"

[2017-02-17 00:34] #206 closed

[2017-02-17 03:42] joolswood commented on #162
https://github.com/govau/content-guide/issues/22

[2017-02-17 03:42] #162 closed

[2017-02-17 04:04] joolswood commented on #215
I think we cover this here http://content-guide.apps.staging.digital.gov.au/content-structure/#hyperlinks ?

[2017-02-17 04:04] #215 closed

[2017-02-17 04:05] joolswood commented on #221
https://github.com/govau/content-guide/issues/25

[2017-02-17 04:05] #221 closed, assigned to nobody

[2017-02-17 04:07] joolswood commented on #213
This is reflected in the https://github.com/govau/content-guide/

[2017-02-17 04:07] #213 closed

[2017-02-17 04:08] joolswood commented on #106
https://github.com/govau/content-guide/issues/24

[2017-02-17 04:08] #106 closed

[2017-02-17 04:09] joolswood commented on #224
https://github.com/govau/content-guide/issues/26

[2017-02-17 04:09] #224 closed, assigned to nobody

[2017-02-17 04:11] joolswood commented on #222
https://github.com/govau/content-guide/issues/27

[2017-02-17 04:11] #222 closed, assigned to nobody

[2017-02-17 04:16] joolswood commented on #223
https://github.com/govau/content-guide/issues/28

[2017-02-17 04:16] #223 closed, assigned to nobody

[2017-02-17 04:17] joolswood commented on #190
https://github.com/govau/content-guide/issues/29

[2017-02-17 04:17] #190 closed

[2017-02-17 04:20] joolswood commented on #108
https://github.com/govau/content-guide/issues/30

[2017-02-17 04:20] #108 closed

[2017-02-17 04:22] joolswood commented on #220
https://github.com/govau/content-guide/issues/31

[2017-02-17 04:22] #220 closed, assigned to nobody

[2017-02-17 04:23] joolswood commented on #219
https://github.com/govau/content-guide/issues/32

[2017-02-17 04:23] #219 closed, assigned to nobody

[2017-02-17 04:24] joolswood commented on #217
https://github.com/govau/content-guide/issues/33

[2017-02-17 04:24] #217 closed, assigned to nobody

[2017-02-17 04:24] joolswood commented on #216
Duplicate of https://github.com/govau/content-guide/issues/22

[2017-02-17 04:24] #216 closed, assigned to nobody

[2017-02-17 04:25] joolswood commented on #214
This is moved now http://content-guide.apps.staging.digital.gov.au/terms-phrases/index.html#plain-english-terms

[2017-02-17 04:25] #214 closed

[2017-02-17 04:26] #212 closed

[2017-02-17 04:26] #205 closed

[2017-02-17 04:29] joolswood commented on #181
https://github.com/govau/content-guide/issues/34

[2017-02-17 04:29] #181 closed

[2017-02-17 04:31] joolswood commented on #189
https://github.com/govau/content-guide/issues/35

[2017-02-17 04:31] #189 closed

[2017-02-17 04:33] joolswood commented on #149
https://github.com/govau/content-guide/issues/36

[2017-02-17 04:33] #149 closed

[2017-02-17 04:34] joolswood commented on #180
https://github.com/govau/content-guide/issues/23

[2017-02-17 04:34] #180 closed

[2017-02-17 04:36] joolswood commented on #208
https://github.com/govau/content-guide/issues/37

[2017-02-17 04:36] #208 closed

[2017-02-17 04:37] joolswood commented on #147
https://github.com/govau/content-guide/issues/38

[2017-02-17 04:37] #147 closed

[2017-02-17 04:38] joolswood commented on #116
https://github.com/govau/content-guide/issues/39

[2017-02-17 04:38] #116 closed

[2017-02-17 04:39] joolswood commented on #200
https://github.com/govau/content-guide/issues/33

[2017-02-17 04:39] #200 closed

[2017-02-17 04:40] joolswood commented on #193
https://github.com/govau/content-guide/issues/40

[2017-02-17 04:40] #193 closed

[2017-02-17 04:41] joolswood commented on #178
https://github.com/govau/content-guide/issues/40

[2017-02-17 04:41] #178 closed

[2017-02-17 04:42] joolswood commented on #139
https://github.com/govau/content-guide/issues/34

[2017-02-17 04:42] #139 closed

[2017-02-17 04:43] joolswood commented on #182
https://github.com/govau/content-guide/issues/41

[2017-02-17 04:43] #182 closed

[2017-02-17 04:44] joolswood commented on #175
https://github.com/govau/content-guide/issues/42

[2017-02-17 04:44] #175 closed

[2017-02-17 04:45] joolswood commented on #127
https://github.com/govau/content-guide/issues/43

[2017-02-17 04:45] #127 closed

[2017-02-17 04:46] joolswood commented on #115
https://github.com/govau/content-guide/issues/44

[2017-02-17 04:46] #115 closed

[2017-02-17 04:46] joolswood commented on #172
https://github.com/govau/content-guide/issues/10

[2017-02-17 04:46] #172 closed

[2017-02-17 04:48] joolswood commented on #153
https://github.com/govau/content-guide/issues/45

[2017-02-17 04:48] #153 closed

[2017-02-17 04:49] joolswood commented on #179
https://github.com/govau/content-guide/issues/45

[2017-02-17 04:49] #179 closed

[2017-02-17 04:53] joolswood commented on #131
https://github.com/govau/content-guide/issues/46

[2017-02-17 04:53] #131 closed

[2017-02-17 04:53] #128 closed

[2017-02-17 04:54] joolswood commented on #125
https://github.com/govau/content-guide/issues/47

[2017-02-17 04:54] #125 closed

[2017-02-17 04:55] #118 closed

[2017-02-17 04:56] joolswood commented on #145
https://github.com/govau/content-guide/issues/48

[2017-02-17 04:56] #145 closed

[2017-02-17 04:57] joolswood commented on #121
https://github.com/govau/content-guide/issues/23

[2017-02-17 04:57] #121 closed

[2017-02-17 05:00] joolswood commented on #148
https://github.com/govau/content-guide/issues/49

[2017-02-17 05:00] #148 closed

[2017-02-17 05:01] joolswood commented on #112
https://github.com/govau/content-guide/issues/50

[2017-02-17 05:01] #112 closed

[2017-02-17 05:03] joolswood commented on #168
https://github.com/govau/content-guide/issues/51

[2017-02-17 05:03] #168 closed

[2017-02-17 05:04] joolswood commented on #141
https://github.com/govau/content-guide/issues/52

[2017-02-17 05:04] #141 closed

[2017-02-17 05:04] #117 closed

[2017-02-17 05:05] joolswood commented on #167
https://github.com/govau/content-guide/issues/53

[2017-02-17 05:05] #167 closed

[2017-02-17 05:07] joolswood commented on #146
https://github.com/govau/content-guide/issues/54

[2017-02-17 05:07] #146 closed

[2017-02-17 05:21] #143 closed

[2017-02-17 05:23] joolswood commented on #150
https://github.com/govau/content-guide/issues/55

[2017-02-17 05:23] #150 closed

[2017-02-17 05:23] #151 closed

[2017-02-17 05:24] joolswood commented on #160
https://github.com/govau/content-guide/issues/56

[2017-02-17 05:24] #160 closed

[2017-02-17 05:25] joolswood commented on #165
https://github.com/govau/content-guide/issues/57

[2017-02-17 05:25] #165 closed

[2017-02-17 05:26] #171 closed

[2017-02-17 05:27] joolswood commented on #173
https://github.com/govau/content-guide/issues/58

[2017-02-17 05:27] #173 closed

[2017-02-17 05:27] joolswood commented on #174
https://github.com/govau/content-guide/issues/40

[2017-02-17 05:27] #174 closed

[2017-02-17 05:28] #176 closed

[2017-02-17 05:28] #177 closed

[2017-02-17 05:29] joolswood commented on #164
https://github.com/govau/content-guide/issues/59

[2017-02-17 05:29] #164 closed

[2017-02-17 05:30] joolswood commented on #163
https://github.com/govau/content-guide/issues/60

[2017-02-17 05:30] #163 closed

[2017-02-17 05:31] joolswood commented on #155
https://github.com/govau/content-guide/issues/61

[2017-02-17 05:31] #155 closed

[2017-02-17 05:31] joolswood commented on #154
https://github.com/govau/content-guide/issues/62

[2017-02-17 05:31] #154 closed

[2017-02-17 05:32] joolswood commented on #138
https://github.com/govau/content-guide/issues/63

[2017-02-17 05:32] #138 closed

[2017-02-17 05:36] joolswood commented on #137
https://github.com/govau/content-guide/issues/64

[2017-02-17 05:36] #137 closed

[2017-02-17 05:38] joolswood commented on #136
https://github.com/govau/content-guide/issues/65

[2017-02-17 05:38] #136 closed

[2017-02-17 05:38] #142 closed

[2017-02-17 05:39] joolswood commented on #144
https://github.com/govau/content-guide/issues/66

[2017-02-17 05:39] #144 closed

[2017-02-17 05:40] joolswood commented on #135
https://github.com/govau/content-guide/issues/67

[2017-02-17 05:40] #135 closed

[2017-02-17 05:41] joolswood commented on #114
https://github.com/govau/content-guide/issues/68

[2017-02-17 05:41] #114 closed

[2017-02-17 05:41] joolswood commented on #113
https://github.com/govau/content-guide/issues/69

[2017-02-17 05:41] #113 closed

[2017-02-17 05:42] joolswood commented on #109
https://github.com/govau/content-guide/issues/70

[2017-02-17 05:42] #109 closed

[2017-02-17 05:43] joolswood commented on #110
https://github.com/govau/content-guide/issues/71

[2017-02-17 05:43] #110 closed

[2017-02-17 05:43] #102 closed

[2017-02-17 05:45] joolswood commented on #34
Closing this - can open a new issue in `govau/uikit`?

[2017-02-17 05:45] #34 closed

[2017-02-17 05:46] joolswood commented on #31
Do you want to add a new ticket in the `govau/content-guide` repo @klepas ?

[2017-02-17 05:46] #31 closed

[2017-03-27 23:11] NoniH opened #225 "Make sure single quotation is not entered as an apostrophe (accessibility issues)"
When single quotation marks are entered as an apostrophe, Jaws screen reader doesn't recognise it as quotation.

Suggestion: Add advice about how to create a single quotation mark rather than using apostrophes.

Open quote = option-]
Close quote = option-shift-]

## What do you need?

What is the problem?

## Which entry/section is this related to?

For example: Hyperlinks

## Good example

Have y

[2017-04-06 07:43] joolswood commented on #225
https://github.com/govau/content-guide/issues/117

[2017-04-06 07:43] #225 closed, assigned to nobody

[2017-05-15 05:40] joolswood opened #226 "Add temporary alert to all pages"
I'm trying to add an alert to all pages, to let people know about the new Content Guide, ala http://guides.service.gov.au/design-guide/
![screen shot 2017-05-15 at 3 38 41 pm](https://cloud.githubusercontent.com/assets/13774080/26043962/96d0a9ca-3984-11e7-9466-216f2cad04e0.png)

I've got text here https://github.com/AusDTO/gov-au-content-guide/tree/contentfix/head-alert
I need some dev help to use

[2017-11-30 01:03] #210 closed

[2017-11-30 01:04] joolswood commented on #226
We've redirected instead, so no need.

[2017-11-30 01:04] #226 closed, assigned to joolswood